:root {
  /* Text colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196F3;
  --secondary-text-color: #FFFFFF;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  /* Background colors */
  --primary-background-color: #EEEEEE;
  --secondary-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --header-background-color: #ECECEC;
  /* Button background colors */
  --primary-btn-background-color: #2196F3;
  --secondary-btn-background-color: #F5F4FA;

  --letter-spacing: 0.03em;
}

              /* GENERAL STYLES*/

.page { 
  background-color: var(--primary-background-color);
  letter-spacing: var(--letter-spacing)
}
.link { 
  text-decoration: none;
}
.text {
  color: var(--primary-text-color);
}
.title {
  color: var(--title-text-color);
}
.list { 
  list-style: none;
}
        /* Section header styles */ 
/* logo */
.page-header {
  background-color: var(--header-background-color);
}
.header-logo { 
  color: var(--title-text-color);
}
.header-logo.span {
  color: var(--accent-text-color);
}
/*Section nav link styles - contacts link styles*/

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .active { 
  color: var(--accent-text-color); /* Подсветка страницы где находимся */
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-text-color);
}
.contacts-nav .link { 
  color: var(--primary-text-color);
}
        /* Section footer styles */
/* footer background styles */

.footer { 
  width: 100%;
  height: 252px;
  background-color: var(--footer-background-color);
}
/* logo styles */

.footer-logo {
  color: var(--secondary-text-color);
}
.footer-logo.span {
  color: var(--accent-text-color);
}

/* footer link styles */
.footer.address {
  color: var(--secondary-text-color);
}
.footer.mail {
  color: var(--contacts-text-color);
}
.footer.number {
  color: var(--contacts-text-color);
}
.footer.link:focus,
.footer.link:hover { 
  color: var(--accent-text-color);
}
              /* MAIN PAGE STYLES  */
        /* Section hero styles */

.hero-conteiner{
  width: 100%;
  height: 600px;
  background-color: var(--footer-background-color);
}
.hero.title { 
  color: var(--secondary-text-color);
}
.hero-btn { 
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--primary-btn-background-color);
  color: var(--secondary-text-color);
}
        /* Section advant styles*/



        /* Section what we do styles */




        /* Section our team styles */





              /* PORTFOLIO PAGE STYLES  */
        /* Section filters styles */
.filters-btn { 
  height: 38px;
  border-radius: 4px;
  background-color: var(--secondary-btn-background-color);
  color: var(--title-text-color);
}
.filters-btn:hover,
.filters-btn:focus,
.filters-btn:active {
  color: var(--secondary-text-color);
  background-color: var(--primary-btn-background-color);
}
.filters-btn.all { 
  width: 73px;
}
.filters-btn.website { 
  width: 125px;
}
.filters-btn.appendices { 
  width: 112px;
}
.filters-btn.design { 
  width: 103px;
}
.filters-btn.marketing { 
  width: 130px;
}