/* The main - top line section */
.topline-list {
    list-style: none;
}
.topline-list-contacts {
    list-style: none;
}
/* The main - Cap section */



/* The main - Features section */
.features-list {
    list-style: none;
}
/* The main - What do we do section */
.whatwedo-item {
    list-style: none;
    display: inline;
}
/* The main - Our team section */
.ourteam-list {
    list-style: none;
}
.ourteam-item {
    list-style: none;
}
/* The main - Basement section */
.basement-list {
    list-style: none;
}
