.list-header {
    list-style: none;
}
.list-advantages {
    list-style: none;
}
.list-whatwedo {
    list-style: none;
    display: inline;
}
.list-ourteam_ul {
    list-style: none;
}
.list-ourteam {
    list-style: none;
}
.list-contacts {
    list-style: none;
}
