.list_header {
    list-style: none;
}
.list_advantages {
    list-style: none;
}
.list_whatwedo {
    list-style: none;
    display: inline;
}
.list_ourteam_ul {
    list-style: none;
}
.list_ourteam {
    list-style: none;
}
.list_contacts {
    list-style: none;
}
